.date {
  margin: 0 0 15px;
  font-size: 20px;
}

.title {
  font-size: 30px;
  margin: 30px;
}

.write {
  font-size: 20px;
  line-height: 40px;
}

@media screen and (max-width: 380px) {
  .header-title {
    font-size: 20px;
    font-weight: 400;
  }

  .date {
    margin: 15px;
    font-size: 20px;
  }

  .write {
    font-size: 20px;
    margin: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 380px) {
  .footer-section {
    display: block;
    margin-top: 30px;
    padding: 30px 20px;
  }

  .footer-content {
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.7;
  }

  .footer-content:last-child {
    margin-bottom: 0;
  }

  .info {
    display: inline-block;
    margin: 0 auto 10px;
    padding: 5px 15px;
    font-size: 20px;
    border: 3px double;
    border-radius: 10px;
  }

  .footer-content a {
    margin-bottom: 5px;
  }

  .map {
    display: block;
    width: 100%;
    max-width: 280px;
    height: 200px;
    margin: 10px auto 0;
  }

  .footer-bottom {
    margin-top: 0;
    padding: 20px 10px;
    font-size: 13px;
    line-height: 1.6;
  }
}
