#koushi {
  font-size: 50px;
  color: darkolivegreen;
  margin: 40px;
}

.koushi-content {
  align-items: center;
}

.koushi-img {
  width: 300px;
  height: auto;
  margin: 30px;
}

.name {
  font-size: 40px;
}

.explain {
  padding: 15px;
}

.everyday {
  font-size: 25px;
  padding: 15px;
}

.explain-content {
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  #koushi {
    font-size: 30px;
    color: darkolivegreen;
    margin: 40px;
  }
}

@media screen and (max-width: 380px) {
  #koushi {
    font-size: 20px;
    color: darkolivegreen;
    margin: 20px 40px 0px;
  }

  .koushi-content {
    display: flex;
    flex-direction: column;
  }

  .koushi-img {
    width: 70%;
    height: auto;
    margin: 0px;
  }

  .name {
    font-size: 20px;
    margin-left: 10px;
  }

  .explain {
    font-size: 15px;
  }

  .everyday {
    font-size: 20px;
  }

  .explain-content {
    font-size: 15px;
  }
}
