#koushi-vlog {
  font-size: 50px;
  color: darkolivegreen;
  margin: 40px;
}
@media screen and (max-width: 768px) {
  #koushi-vlog {
    font-size: 30px;
    color: darkolivegreen;
  }
}

@media screen and (max-width: 380px) {
  #koushi-vlog {
    font-size: 20px;
    color: darkolivegreen;
  }
}
