.voice-content {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  margin: 30px;
  gap: 20px;
}

.voice-content .voice-wrap {
  padding: 30px;
  border: 1px solid #d8d0c2;
  border-radius: 10px;
}

.voice-title {
  font-size: 25px;
  margin: 20px;
}

.size {
  line-height: 1.8;
}

.star {
  font-size: 26px;
  margin: 10px;
  color: rgb(199, 199, 134);
}

.voice-title {
  font-size: 20px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  #voice {
    font-size: 30px;
    color: darkolivegreen;
  }
}

@media screen and (max-width: 380px) {
  #voice {
    font-size: 20px;
    color: darkolivegreen;
    margin: 25px;
  }

  .voice-content {
    font-size: 15px;
    flex-direction: column;
  }

  .voice-title {
    font-size: 20px;
  }

  .size {
    font-size: 15px;
  }
}
