.kokoro-content {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.kokoro-content .discription-card {
  flex: 1;
  border: 1px solid #d8d0c2;
  padding: 20px;
  border-radius: 15px;
  line-height: 1.8;
}

.daimei {
  font-size: 35px;
  padding-bottom: 15px;
}
