.contact-form {
  max-width: 800px;
  margin: 40px auto;
}

.form-item {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.form-item label {
  margin-right: 20px;
}

.form-item input,
text {
  flex: 1;
  padding: 13px 50px;
  border: 1px solid #d8d2c5;
  border-radius: 5px;
  background-color: #faf9f5;
  font-size: 14px;
  box-sizing: border-box;
}

.form-item textarea {
  flex: 1;
  padding: 13px 50px;
  height: 100px;
  border: 1px solid #d8d2c5;
  border-radius: 5px;
  background-color: #faf9f5;
  font-size: 14px;
  box-sizing: border-box;
}

.form-button {
  text-align: center;
  margin-top: 50px;
}

.form-button input {
  padding: 10px 20px;
  font-size: 14px;
}
