.header-wrapper {
  background: #f7f3ea;
  width: auto;
  height: 100px;
}

.header-title {
  font-size: 40px;
}

.header-wrapper .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.top-image {
  width: 100%;
  height: auto;
}
