#kokoro {
  font-size: 50px;
  color: darkolivegreen;
  margin: 30px;
}

.kokoro-content {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.kokoro-content section {
  flex: 1;
  border: 1px solid #d8d0c2;
  padding: 20px;
  border-radius: 15px;
  line-height: 1.8;
}

.daimei {
  font-size: 35px;
  padding-bottom: 15px;
}

.lesson {
  display: inline-block;
  background: linear-gradient(transparent 70%, #bfd9c4 0%);
}
