#koushi {
  font-size: 50px;
  color: darkolivegreen;
  margin: 40px;
}

.koushi-content {
  align-items: center;
}

.koushi-img {
  width: 300px;
  height: auto;
  margin: 30px;
}

.koushi-content section {
  flex: 1;
}

.name {
  font-size: 40px;
}

.explain {
  padding: 15px;
}

.everyday {
  font-size: 25px;
  padding: 15px;
}

.explain-content {
  line-height: 1.8;
}
